html {
    font-family: 'Verdana', sans-serif;
	background-color: #1c1c1c;
    color: #e2e2e2;
}

body {
	padding: 0;
	margin: 0;
}

html body {
	height: 100%;
	width: 100%;
}

article {
  margin-left: 5%;
  margin-right: 5%;
  width: 100%;
}

header {
	position:fixed;
	background-color: #1c1c1c;
	width:100%;
	z-index:2;
}

main article {
	width: 80%;
	margin:auto;
	background-color: #1c1c1c;
}

.content {
	background-color:#1c1c1c;
	width:100%;
	border-top:5px solid #cf800066;
}

.banner-pane {
	width:100%;
	position:fixed;
	z-index:-1;
	margin-top:40px;
}

.banner-pane-filler .banner-back {
	background-color: transparent;
}

.banner-back {
	background-color:black;
	width:100%;
	height:100%;
}

.banner {
	max-height:550px;
	width:90%;
	height:auto;
	text-align:center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

footer {
	background-color: #141414;
	width: 100%;
	float: left;
    display: block;
    color: white;
    padding: 0;
    text-decoration: none;
	margin: 0;
	position:absolute;
	left: 0;
	overflow:hidden;
	margin-top:50px;
	border-top:2px solid #cf800040;
}

footer div.footersection {
	clear: left;
}

footer p {
	padding-left: 20px;
	font-size: 0.6rem;
	float: left;
}

footer a.footerlink {
	background-color:#202020;
    display: block;
    color: #e2e2e2;
    text-align: center;
    padding: 5px;
    text-decoration: none;
	float:left;
	border-top:1px solid gray;
	border-bottom: 1px dotted black;
}

.footer-image-box {
	width: 100px;
	height: 100px;
	float: left;
}

#topfooter {
	border-right: 1px dotted black;
}

.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  text-align: center;
  height:auto;
  border: 2px solid #404040;
}

a.nodecor {
  text-decoration: none;
  color: #e2e2e2;
}

.headlogo {
	height:40px;
	float:left;
	z-index:1;
	border-radius:2px;
	border: 1px solid #303030;
}

@media screen and (max-width: 800px) {
  .footer-image-box {
	  display: none;
  }
}

.list {
  --repeat: auto-fit;
}
@media (min-width: calc(250 * 3px)) {
  .list {
    --repeat: 3;
  }
}

.list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(var(--repeat, auto-fit), 12.65rem);
}

.element {
  margin: 10px;
  border-radius: 5px;
  border: 1px #323232 solid;
  background-color: #202020;
}

.element_downloads {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-bottom: 8px;
  margin-top: 0px;
}

.element img {
  vertical-align: middle;
  width: 11.25rem;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color: #1c1c1c;
}

.element p {
  width: 11.25rem;
  margin-bottom: 8px;
  padding-top: 8px;
  margin-top: 0px;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 5px;
  font-family: 'Arial', sans;
  font-weight: bold;
}

.element_text {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-bottom: 8px;
  padding-top: 8px;
  margin-top: 0px;
}

.element_subtext_role {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-top:5px;
  margin-bottom:5px;
  padding:0px;
  font-size:0.75rem;
  font-style:italic;
}
.element_subtext_info {
  text-align: center;
  font-family: 'Arial', sans;
  font-size: 0.8rem;
  margin-top:5px;
  margin-bottom:5px;
  padding:0px;
  font-size:0.7rem;
}

.element a {
  text-decoration: none;
  color: #e2e2e2;
}